<h1 style="font-family: serif;">Contact Us</h1>
<p><b>Have questions or feedback? Feel free to reach out to us</b> </p>
<p><b>Contact: 7879783798</b></p>
<p><b>Email: admin@example.com</b></p>

<%= link_to 'Back', root_path%>
