<div class="container pt-5 ">
  <% name = current_user.present? ? current_user.first_name + ' ' + current_user.last_name : 'Stranger' %>

  <% if current_user.present? %>
  <div class="button-container">
    <h1 class="style-colour">Welcome <%= name %> </h1>
    <%= button_to 'Surveys', surveys_path, method: :get, class: "btn-primary" %>
    <%= button_to 'Resources', resources_path, method: :get, class: "btn-primary" %>
  </div>
  <% else %>
  <p>Please sign in to fill surveys</p>
  <% end %>
</div>
